---
import BaseLayout from "@/components/BaseLayout.astro";
import CreditCard from "@/components/CreditCard.astro";
import H2 from "@/components/H2.astro";
import { type Category, type Bank, type Card } from "@/js/interfaces";
import hygraph from "@/js/hygraph";
const assetBaseUrl = import.meta.env.ASSET_BASE_URL;

export async function getStaticPaths() {
  const categories = (await hygraph(
    "categoriesWithCards",
    "categories"
  )) as Array<Category>;

  return categories.map((category) => {
    return {
      params: { slug: category.slug },
      props: { cards: category.card_category, category },
    };
  });
}

interface Props {
  cards: Array<Card>;
  category: Category;
}

const { cards, category } = Astro.props as Props;
if (!cards || !category) {
  throw new Error("Cards or category not found");
}
---

<BaseLayout
  title={category.name}
  image={category?.ogImage?.url || category?.image.url}
>
  <section class="">
    <div class="container mx-auto px-5 py-12 grid place-items-center gap-8">
      <H2 title={category?.pageTitle || `${category?.name} cards`} />
      {
        category?.content1 && (
          <div class="prose border-brutal-lg p-4 flex flex-col items-center bg-white w-full">
            <Fragment set:html={category?.content1?.html} />
          </div>
        )
      }
      <img src={category?.bannerImage?.url} alt="" class="w-full mt-4" />
      {
        category?.content2 && (
          <div class="prose border-brutal-lg p-4 flex flex-col items-center bg-white w-full">
            <Fragment set:html={category?.content2?.html} />
          </div>
        )
      }
    </div>
  </section>
  <section>
    <div class="container mx-auto px-5 py-16 lg:py-20">
      <div class="grid lg:grid-cols-3 gap-12 lg:gap-16">
        {
          cards.map((card: Card) => (
            <CreditCard
              name={card.name}
              image={
                card?.image?.handle
                  ? `${assetBaseUrl}/resize=h:120,fit:crop/quality=value:100/output=format:webp/${card?.image?.handle}`
                  : card?.image?.url
              }
              apply={card?.applyUrl}
              learn={`/cards/${card?.slug}`}
              rating={card?.rating}
              description={card?.description}
            />
          ))
        }
      </div>
      {
        !cards.length && (
          <p class="text-center">No cards to show for this category.</p>
        )
      }
    </div>
  </section>
</BaseLayout>
