---
import { SEO } from "astro-seo";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import TailwindSizeIndicator from "@/components/TailwindSizeIndicator.astro";
import "@fontsource-variable/lexend-giga";
import "@fontsource-variable/lexend";
import "@/tailwind.css";
import hygraph from "@/js/hygraph";
import { type Bank } from "@/js/interfaces";
const banks = (await hygraph("banks")) as Array<Bank>;
const categories = (await hygraph("categories")) as Array<Bank>;

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = "Amazing Credit Cards",
  description = "Discover the ideal credit card for your financial goals. Explore our curated selection, compare rewards, rates, and benefits, and apply online. Start your journey to smarter spending today.",
  image = "https://accgavn.netlify.app/preview.jpg",
} = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      {title}
      {description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image,
          url: `https://amazingcreditcards.in${Astro.url.pathname}`,
        },
        image: {
          url: image,
        },
      }}
      ,
      twitter={{
        creator: "@amazingcreditc",
        site: "@amazingcreditc",
        description,
        image,
        title,
        card: "summary_large_image",
      }}
      ,
    />
    <link rel="shortcut icon" href="/fav.png" type="image/x-icon" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KLT3J33F");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "1193366248311855");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=1193366248311855&ev=PageView&noscript=1"
      /></noscript
    >
    <!-- End Meta Pixel Code -->
  </head>
  <body class="min-h-screen flex flex-col overflow-x-hidden font-lexend-giga">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KLT3J33F"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <script
      data-name="BMC-Widget"
      data-cfasync="false"
      src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
      data-id="amazingcreditcards"
      data-description="Support me on Buy me a coffee!"
      data-message=""
      data-color="#FFFF00"
      data-position="Right"
      data-x_margin="18"
      data-y_margin="18"></script>

    <script
      src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js"
      defer></script>
    <script>
      window.OneSignalDeferred = window.OneSignalDeferred || [];
      OneSignalDeferred.push(async function (OneSignal) {
        await OneSignal.init({
          appId: "61835e71-d9e2-4c5d-97cb-cc90053a9b77",
          safari_web_id:
            "web.onesignal.auto.33b67024-44c4-4b60-aec5-91af5568c874",
          notifyButton: {
            enable: true,
          },
        });
      });
    </script>

    <Header {banks} {categories} />
    <TailwindSizeIndicator />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
    <div id="graph-bg" class="inset-0 fixed -z-20"></div>

    <!-- Microsoft Clarity -->
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "nnn0zb5uw6");
    </script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YG3954W1BW"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YG3954W1BW");
    </script>

    <!-- Google AdSense -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8669315766904878"
      crossorigin="anonymous"></script>
  </body>
</html>
