---
import type { Blog } from '@/js/interfaces'

interface Props{
    blog: Blog
}
const {blog} = Astro.props as Props
---

<div
    class="border-brutal-lg p-4 flex flex-col items-center text-center relative bottom-0 hover:bottom-1 bg-white hover:scale-105 transition-all duration-500"
    >
        <a href={`/blog/${blog.slug}`} >
        <img
        src={blog.image.url}
        alt={blog.title}
        class="h-[180px] w-auto object-contain aspect-video rounded-lg"
        height="180"
        loading="lazy"
        />
    </a>
    <a href={`/blog/${blog.slug}`}>
        <h3 class="lg:text-xl mt-4 text-ellipsis line-clamp-3">{blog.title}</h3>
    </a>
</div>