---
import Rating from "./Rating.astro";
interface Props {
  name?: string;
  image?: string;
  rating: number;
  learn?: string;
  apply?: string;
  description?: {
    html: string;
  };
}
const {
  name = "Bank Name",
  image = "https://media.graphassets.com/k2skyhWGTSq2yUo1hDqf",
  rating,
  learn = "#",
  apply = "#",
  description = { html: "" },
} = Astro.props as Props;
---

<div
  class="border-brutal-lg p-6 lg:p-8 flex flex-col items-center text-center relative bottom-0 hover:bottom-1 bg-white hover:scale-105 transition-all duration-500"
>
  <a href={learn} class="border-brutal p-6 lg:p-0.5 bg-white">
    <img
      src={image}
      alt={name}
      class="h-[180px] w-auto object-contain"
      height="180"
      loading="lazy"
    />
  </a>

  <Rating {rating} />

  <a href={learn}><h3 class="lg:text-xl mt-4">{name}</h3></a>

  {
    description && description?.html && (
      <div class="prose prose-sm prose-p:m-0 py-4 ">
        <Fragment set:html={description?.html} />
      </div>
    )
  }

  <div class="mt-auto flex items-end">
    <a
      class="mt-4 bg-yellow-500 py-1 px-4 border-brutal transition-all duration-300 w-full hover:bg-yellow-500/80"
      href={apply}
    >
      Apply now</a
    >
  </div>
</div>
