---
import Rating from "./Rating.astro";
interface Props {
  name?: string;
  image: string;
  rating: number;
  learn?: string;
  apply?: string;
}
const {
  name = "Bank Name",
  image,
  rating,
  learn = "#",
  apply = "#",
} = Astro.props as Props;
---

<div
  class="border-brutal-lg p-6 lg:p-8 flex flex-col items-center text-center transition-all relative bottom-0 hover:bottom-1 duration-300 bg-white"
>
  <img src={image} alt={name} class="h-[180px]" />

  <Rating {rating} />

  <h3 class="lg:text-xl mt-4">{name}</h3>
  <a
    class="mt-8 bg-white py-1 px-4 border-brutal transition-all duration-300 w-full hover:bg-yellow-500/30"
    href={learn}
  >
    Learn more</a
  >
  <a
    class="mt-8 bg-yellow-500 py-1 px-4 border-brutal transition-all duration-300 w-full hover:bg-yellow-500/80"
    href={apply}
  >
    Apply now</a
  >
</div>
