---
import BaseLayout from "@/components/BaseLayout.astro";
import H2 from "@/components/H2.astro";
import Rating from "@/components/Rating.astro";
import { type Card } from "@/js/interfaces";
import hygraph from "@/js/hygraph";
const assetBaseUrl = import.meta.env.ASSET_BASE_URL;
const defaultCard = "https://media.graphassets.com/k2skyhWGTSq2yUo1hDqf";
export async function getStaticPaths() {
  const cards1 = (await hygraph("cards1", "cards")) as Array<Card>;
  const cards2 = (await hygraph("cards2", "cards")) as Array<Card>;
  const cards3 = (await hygraph("cards3", "cards")) as Array<Card>;
  const cards4 = (await hygraph("cards4", "cards")) as Array<Card>;
  const cards = [...cards1, ...cards2, ...cards3, ...cards4];
  return cards.map((card) => {
    return {
      params: { slug: card.slug },
      props: { card },
    };
  });
}

const { card } = Astro.props;

if (!card) {
  throw new Error("Card not found");
}

const {
  name,
  applyUrl,
  rating = 1,
  description,
  seoDescription,
  content,
  summary,
  image = { url: defaultCard },
  ogImage,
} = card as Card;
---

<BaseLayout
  title={name}
  description={seoDescription}
  image={ogImage?.handle
    ? `${assetBaseUrl}/resize=h:200,fit:crop/quality=value:50/output=format:webp/${ogImage?.handle}`
    : ogImage?.url}
>
  <section>
    <div
      class="container mx-auto px-5 py-10 lg:py-20 flex flex-col items-center"
    >
      <H2 title={name} />

      <div class="grid lg:grid-cols-3 gap-12 mt-16 max-w-6xl">
        <div
          class="border-brutal-lg p-6 lg:p-8 flex flex-col items-center bg-white"
        >
          <div class="border-brutal-lg p-0.5">
            <img
            src={image?.url || defaultCard}
            alt={name}
            class="mx-auto w-full max-w-[300px]"
          />
          </div>
          <Rating {rating} />
          <a
            class="mt-8 bg-yellow-500 py-1 px-4 border-brutal transition-all duration-300 hover:bg-yellow-400 w-fit"
            href={applyUrl}
          >
            Apply now</a
          >
        </div>
        {
          description && (
            <div class="lg:col-span-2 h-fit border-brutal-lg p-6 lg:p-8 flex flex-col bg-white font-lexend prose max-lg:prose-p:m-1 prose-p:m-2 my-auto ">
              {description?.html && <div set:html={description.html} />}
            </div>
          )
        }
      </div>
    </div>
  </section>

  {
    content && content?.html && (
      <section>
        <div
          class="prose prose-headings:border-brutal-sm prose-headings:p-2 prose-headings:w-fit  lg:mx-auto bg-white border-brutal-lg p-6 lg:p-10 mb-20 max-w-4xl  mx-4 lg:prose-lg font-sans prose-headings:font-lexend"
          set:html={content?.html}
        />
      </section>
    )
  }
  {
    summary && summary?.html && (
      <section>
        <div
          class="prose mx-auto border-brutal-lg py-10 px-10  prose-headings:border-brutal-sm prose-headings:p-2 prose-headings:w-fit  lg:mx-auto bg-white border-brutal-lg p-6 lg:p-10 mb-20 max-w-4xl   lg:prose-lg font-sans prose-headings:font-lexend"
          set:html={summary?.html}
        />
      </section>
    )
  }
</BaseLayout>
