---
import CreditCard from "@/components/CreditCard.astro";
import BaseLayout from "@/components/BaseLayout.astro";
import H2 from "@/components/H2.astro";
import { type Card } from "@/js/interfaces";

import hygraph from "@/js/hygraph";
const assetBaseUrl = import.meta.env.ASSET_BASE_URL;

const cards1 = (await hygraph("cards1", "cards")) as Array<Card>;
const cards2 = (await hygraph("cards2", "cards")) as Array<Card>;
const cards3 = (await hygraph("cards3", "cards")) as Array<Card>;
const cards4 = (await hygraph("cards4", "cards")) as Array<Card>;
const cards = [...cards1, ...cards2, ...cards3, ...cards4];

---

<BaseLayout title="Credit Cards">
  <section class="border-y-6 border-black">
    <div class="container mx-auto px-5 py-16 lg:py-20">
      <H2 title="Most popular credit cards" />

      <div class="mt-16 lg:mt-28 grid lg:grid-cols-3 gap-12 lg:gap-16">
        {
          cards.map((card: Card) => (
            <CreditCard
              name={card.name}
              image={
                card?.image?.handle
                  ? `${assetBaseUrl}/resize=h:120,fit:crop/quality=value:30/output=format:webp/${card?.image?.handle}`
                  : card?.image?.url
              }
              apply={card?.applyUrl}
              learn={`/cards/${card?.slug}`}
              rating={card?.rating}
              description={card?.description}
            />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
